<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {% csrf_meta_tags %}
    <link rel="stylesheet" href="{{ 'application.css' | asset_url }}">
    <script type="text/javascript" src="{{ 'application.js' | asset_url }}"></script>
  </head>
  <body>
    {% include 'layouts/navbar' %}
    {{ content_for_layout }}
    {% include 'layouts/footer' %}
  </body>
</html>
